/* Light Theme */
:root,
:host {
  --sys-primary: #0062a1;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d0e4ff;
  --sys-on-primary-container: #001d35;
  --sys-inverse-primary: #9ccaff;
  --sys-primary-fixed: #d0e4ff;
  --sys-primary-fixed-dim: #9ccaff;
  --sys-on-primary-fixed: #001d35;
  --sys-on-primary-fixed-variant: #00497b;
  --sys-secondary: #3f6185;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #d1e4ff;
  --sys-on-secondary-container: #001d35;
  --sys-secondary-fixed: #d1e4ff;
  --sys-secondary-fixed-dim: #a7c9f3;
  --sys-on-secondary-fixed: #001d35;
  --sys-on-secondary-fixed-variant: #25496c;
  --sys-tertiary: #7b4b8f;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #f8d8ff;
  --sys-on-tertiary-container: #320047;
  --sys-tertiary-fixed: #f8d8ff;
  --sys-tertiary-fixed-dim: #ebb2ff;
  --sys-on-tertiary-fixed: #320047;
  --sys-on-tertiary-fixed-variant: #623376;
  --sys-background: #fcf8f9;
  --sys-on-background: #1c1b1c;
  --sys-surface: #fcf8f9;
  --sys-surface-dim: #dcd9d9;
  --sys-surface-bright: #fcf8f9;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f6f3f3;
  --sys-surface-container: #f0eded;
  --sys-surface-container-high: #ebe7e7;
  --sys-surface-container-highest: #e5e2e2;
  --sys-on-surface: #1c1b1c;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #5a5f65;
  --sys-inverse-surface: #313031;
  --sys-inverse-on-surface: #f3f0f0;
  --sys-outline: #75777b;
  --sys-outline-variant: #c5c6cc;
  --sys-neutral: #787777;
  --sys-neutral10: #1c1b1c;
  --sys-error: #ba1a1a;
  --sys-error-container: #ffdad6;
  --sys-on-error: #ffffff;
  --sys-on-error-container: #410002;
  --sys-surface-variant: #e1e2e8;
  --sys-on-surface-variant: #44474b;
  --sys-neutral-variant: #75777c;
  --sys-neutral-variant20: #2e3135;
  --sys-inverse-secondary: #a7c9f3;
  --sys-inverse-tertiary: #ebb2ff;
}

/* Dark Theme */
.dark {
  --sys-primary: #9ccaff;
  --sys-on-primary: #003257;
  --sys-primary-container: #00497b;
  --sys-on-primary-container: #d0e4ff;
  --sys-inverse-primary: #0062a1;
  --sys-primary-fixed: #d0e4ff;
  --sys-primary-fixed-dim: #9ccaff;
  --sys-on-primary-fixed: #001d35;
  --sys-on-primary-fixed-variant: #00497b;
  --sys-secondary: #a7c9f3;
  --sys-on-secondary: #083254;
  --sys-secondary-container: #25496c;
  --sys-on-secondary-container: #d1e4ff;
  --sys-secondary-fixed: #d1e4ff;
  --sys-secondary-fixed-dim: #a7c9f3;
  --sys-on-secondary-fixed: #001d35;
  --sys-on-secondary-fixed-variant: #25496c;
  --sys-tertiary: #ebb2ff;
  --sys-on-tertiary: #491b5d;
  --sys-tertiary-container: #623376;
  --sys-on-tertiary-container: #f8d8ff;
  --sys-tertiary-fixed: #f8d8ff;
  --sys-tertiary-fixed-dim: #ebb2ff;
  --sys-on-tertiary-fixed: #320047;
  --sys-on-tertiary-fixed-variant: #623376;
  --sys-background: #131314;
  --sys-on-background: #e5e2e2;
  --sys-surface: #131314;
  --sys-surface-dim: #131314;
  --sys-surface-bright: #3a3939;
  --sys-surface-container-lowest: #0e0e0f;
  --sys-surface-container-low: #1c1b1c;
  --sys-surface-container: #201f20;
  --sys-surface-container-high: #2a2a2a;
  --sys-surface-container-highest: #353435;
  --sys-on-surface: #e5e2e2;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #c3c6ce;
  --sys-inverse-surface: #e5e2e2;
  --sys-inverse-on-surface: #313031;
  --sys-outline: #8f9195;
  --sys-outline-variant: #44474b;
  --sys-neutral: #787777;
  --sys-neutral10: #1c1b1c;
  --sys-error: #ffb4ab;
  --sys-error-container: #93000a;
  --sys-on-error: #690005;
  --sys-on-error-container: #ffdad6;
  --sys-surface-variant: #44474b;
  --sys-on-surface-variant: #c5c6cc;
  --sys-neutral-variant: #75777c;
  --sys-neutral-variant20: #2e3135;
  --sys-inverse-secondary: #3f6185;
  --sys-inverse-tertiary: #7b4b8f;
}
