/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

.dark_mode {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ),
    $overrides: ("background": rgba(36, 36, 36, 0.949))
  );
}

.light_mode {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
      ),
      typography: Roboto,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
