/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

.dark_mode {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ),
    $overrides: ("background": rgba(36, 36, 36, 0.949))
  );
}

.light_mode {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        theme-type: light,
      ),
      typography: Roboto,
    ),
    $overrides: ("surface": rgba(225, 246, 255, 0.949))
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .acadexa-primary-button {
    background-color: #0078d4;
    color: white !important;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  .acadexa-secondary-button {
    background-color: #f3f2f1;
    color: #323130 !important;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }

  .acadexa-primary-icon-button {
    color: white !important;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .acadexa-secondary-icon-button {
    color: #323130 !important;
    cursor: pointer;
  }
  .acadexa-primary-icon-button:hover {
    background-color: #494949;
  }
  .acadexa-secondary-icon-button:hover {
    background-color: #f3f2f1;
  }

  .acadexa-input {
    width: 100%;
  }

  .acadexa-sidenav-icon-buttons {
    state-layer-size: 36px;
  }
}
